name: Flutter CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  preparations:
    name: Preparations
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.29.2'

    - name: Install dependencies
      run: flutter pub get
      
    - name: Install Linux build dependencies
      run: sudo apt-get update && sudo apt-get install -y libglu1-mesa libc6:amd64 libstdc++6:amd64 lib32z1 libbz2-1.0:amd64 libgtk-3-dev

  testing:
    name: Testing Project
    needs: preparations
    runs-on: ubuntu-latest

    steps:
    - name: Testing flutter
      run: flutter test
      
      
  build-android:
    name: Build Android
    runs-on: ubuntu-latest
    needs: [preparations, testing]

    steps:
    - name: Build Android
      run: flutter build apk

  build-linux:
    name: Build Linux
    runs-on: ubuntu-latest
    needs: [preparations, testing]

    steps:
    - name: Build Linux
      run: flutter build linux

  build-ios:
    name: Build iOS
    runs-on: macos-latest
    needs: [preparations, testing]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.29.2'

      - name: Install dependencies
        run: flutter pub get

      - name: Build for iOS
        run: flutter build ios --no-codesign
